<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="../static/images/logo-mediaspaul-small.png" type="">
      <title>Mediaspaul</title>
      <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
      <link rel="stylesheet" href="../static/assets/css/metisMenu.css">
      <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../static/assets/css/slicknav.min.css">
      <!-- amchart css -->
      <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
      <!-- others css -->
      <link rel="stylesheet" href="../static/assets/css/typography.css">
      <link rel="stylesheet" href="../static/assets/css/default-css.css">
      <link rel="stylesheet" href="../static/assets/css/styles.css">
      <link rel="stylesheet" href="../static/assets/css/responsive.css">
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="../static/stylesite/bootstrap.css" />
      <!-- font awesome style -->
      <link href="../static/stylesite/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="../static/stylesite/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="../static/stylesite/style.css" rel="stylesheet" />
   </head>
   <body class="sub_page">
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="{{url_for('index')}}"><img width="250" src="../static/images/logo-mediaspaul-small.png" alt="#" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link" href="{{url_for('index')}}">Acceuil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown active">
                           <a class="nav-link dropdown-toggle" href="{{url_for('about')}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="{{url_for('about')}}">Apropos</a></li>
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{{url_for('product')}}">ouvrage</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{{url_for('product')}}">
                              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                 <g>
                                    <g>
                                       <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                    </g>
                                 </g>
                                 <g>
                                    <g>
                                       <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                    </g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                                 <g>
                                 </g>
                              </svg>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{{url_for('recherche')}}">Recherche</a>
                        </li>
                     </ul>
                  </div>
               </nav>
               <div class="col-sm-6 clearfix">
                  <div class="user-profile pull-right">
                      <img class="avatar user-thumb" src="../static/assets/images/author/avatar.png" alt="avatar">
                      <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Utilisateur <i class="fa fa-angle-down"></i></h4>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="{{url_for('admin')}}">Deconnexion</a>
                          <a class="dropdown-item" href="{{url_for('profile')}}">Profile</a>
                      </div>
                  </div>
              </div>
            </div>
         </header>
         <!-- end header section -->
      </div>
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Qui sommes-nous?</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Médiaspaul : œuvre de la Société Saint-Paul
               </h2>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        </svg>
                     </div>
                     <div class="detail-box">
                        <h5>
                           Un engagement
                        </h5>
                        <p>
                           Philippe accourut et entendit l’Éthiopien qui lisait le prophète Isaïe. Il lui dit : Comprends-tu ce que tu lis ? Il répondit : Comment le pourrais-je, si personne ne me guide ? Et il invita Philippe à monter s’asseoir avec lui. (Ac 8, 30-32)
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 490.667 490.667;" xml:space="preserve">
                        </svg>
                     </div>
                     <div class="detail-box">
                        <h5>
                           Un esprit visionnaire
                        </h5>
                        <p>
                           Fondée à Alba (Italie) en 1914 par le Bienheureux Jacques Alberione, la Société Saint-Paul se donne pour mission spécifique d’œuvrer dans l’Église et la société à l’annonce du message chrétien en répondant aux questionnements des hommes et des femmes de son temps avec les moyens de communication que la technologie du moment met à disposition. L’objectif de la mission est de mettre en contact la totalité du Christ avec toutes les facultés de la personne (intelligence, cœur, volonté) pour manifester la syntonie intégrale entre Évangile et humanisation.

Débutant par la presse, le père Alberione lui associera rapidement le cinéma, la radio, la télévision ainsi que les disques. L’utilisation des médias dans l’œuvre de l’évangélisation n’est pas pour lui une pastorale subsidiaire à celle de la paroisse, mais une forme d’authentique prédication pour rejoindre les personnes dans leur milieu de vie.

C’est en suivant les orientations visionnaires de son fondateur que la congrégation religieuse investira notamment le monde de l’édition tout en ouvrant des librairies sur les cinq continents. Aujourd’hui présente dans une trentaine de pays, la Société Saint-Paul s’établira en France en 1932 et au Canada en 1947.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <svg id="_30_Premium" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" data-name="30_Premium">  
                        </svg>
                     </div>
                     <div class="detail-box">
                        <h5>
                           Médiaspaul
                        </h5>
                        <p>
                           Le nom de la maison d’édition évoque l’une des plus grandes figures des débuts du christianisme, Paul de Tarse, et les puissants moyens de communication sociale qui façonnent la société contemporaine.

Dans sa mission d’éditeur, Médiaspaul se propose d’actualiser la vocation de Paul de Tarse : faire connaître Jésus de Nazareth et son Évangile comme véritables chemins d’humanisation. Dans ses collections – spiritualité, témoignage, écriture sainte, théologie, sociologie religieuse, pastorale, catéchèse,  jeunesse, éducation  – Médiaspaul fait appel au cœur et à l’intelligence pour inviter à la joie de croire.

Fidèle au grand missionnaire Paul de Tarse et à l’inspiration du bienheureux Jacques Alberione, Médiaspaul met la Parole de Dieu au centre de son action évangélisatrice en la proposant comme souffle de liberté et comme « décodeur » des questionnements et des soifs spirituelles qui traversent notre monde. 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end why section -->
      <!-- arrival section -->
      <section class="arrival_section">
         <div class="container">
            <div class="box">
               <div class="arrival_bg_box">
                  <img src="../static/images/R (1).jpg" alt="">
               </div>
               <div class="row">
                  <div class="col-md-6 ml-auto">
                     <div class="heading_container remove_line_bt">
                        <h2>
                           #Mediaspaul
                        </h2>
                     </div>
                     <p style="margin-top: 20px;margin-bottom: 30px;">
                        Lire avec l'intelligence et le coeur
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end arrival section -->
      <!-- footer section -->
      <footer class="footer_section">
         <div class="container">
            <div class="row">
               <div class="col-md-4 footer-col">
                  <div class="footer_contact">
                     <h4>
                        Atteindre à..
                     </h4>
                     <div class="contact_link_box">
                        <a href="https://mediaspaul.fr/">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                        Location
                        </span>
                        </a>
                        <a href="https://mediaspaul.fr/">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                        Appelez au 099 704 46 46
                        </span>
                        </a>
                        <a href="https://mediaspaul.fr/">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                           editeur@mediaspaul.ca
                        </span>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="footer_detail">
                     <a href="{{url_for('index')}}" class="footer-logo">
                     Librairie
                     </a>
                     <p>
                        Les quatre librairies Médiaspaul au Canada et la librairie Saint-Paul en France réalisent la mission de la Société Saint-Paul dans son désir de demeurer au plus proche de toute personne, à la suite de l’apôtre Paul qui s’est fait tout à tous. Elles complètent la mission de l’éditeur Médiaspaul par leur rôle de promotion et de diffusion de ses produits auprès du public : publier un livre ne suffit pas si personne ne se trouve au côté du futur lecteur en interprète du cheminement spirituel que l’ouvrage donne à vivre.

Bien plus qu’une simple librairie d’éditeur, la librairie paulinienne est aujourd’hui le témoin d’une congrégation religieuse allant à la rencontre de ses contemporains pour leur annoncer le Christ Voie, Vérité et Vie et leur parler de toute réalité humaine de façon chrétienne.
                     </p>
                     <div class="footer_social">
                        <a href="https://web.facebook.com/profile.php?id=100062949294366">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/MediaspaulFr">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="map_container">
                     <div class="map">
                        <div id="googleMap"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-info">
               <div class="col-lg-7 mx-auto px-0">
                  <p>
                     &copy; <span id="displayYear"></span> Tout droit reserves par
                     <a href="https://html.design/">Mediaspaul</a>
                  </p>
               </div>
            </div>
         </div>
      </footer>
      <!-- footer section -->
      <!-- jQery -->
      <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
      <!-- popper js -->
      <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
      <!-- bootstrap js -->
      <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
      <!-- custom js -->
      <script src="{{url_for('static', filename='js/custom.js')}}"></script>
   </body>
</html>