<!-- <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="template/lestyle.css" />
</head>
<body>
	

<div class="container">
		<div class="logo">
			<img src="logo-mediaspaul-small.png" alt="logo du site" style="background-color: white;">
		</div>
	</div>
<form class="box" action="" method="post" name="login">
<h1 class="box-logo box-title"><a href="login.php/">Mediaspaul</a></h1>
<h1 class="box-title">Connexion</h1>
<input type="text" class="box-input" name="username" placeholder="Nom d'utilisateur">
<input type="password" class="box-input" name="password" placeholder="Mot de passe">
<input type="submit" value="Connexion " name="submit" class="box-button">
<p class="box-register">Vous êtes nouveau ici? <a href="register.php">S'inscrire</a></p>
    <p class="errorMessage"></p>
</form>
</body>
</html> -->

<h5>wedwedwedwe</h5>